{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Foodly{% endblock %}</title>
    {% tailwind_css %}
</head>
<body>
   <main class="flex min-h-screen flex-col font-roboto relative max-w-screen-[2500px] mx-auto w-full h-full antialiased">
    {% include 'navbar.html' %}
    <div class="flex-1 w-full h-full">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html'%}
   </main>
</body>
</html>
